<ngx-spinner   bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-navbar ></app-navbar>
<img  class="back"src="assets/11.jpg" alt="" />
<!--<div class="container"  >
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="margin-top: 50px ; margin-bottom: 25px;">
</div>
<div class="card" style="width: 160px;height: 120px; background-color: transparent;color: white;">
  <p class="card-title" style="margin-bottom: 5px;">Pick diffucilite :</p>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Easy</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Meduim</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Hard</label>
  </div>
</div>-->
<div class="container"  style="display: flex;margin-top: 130px;" >
  <input class="form-control mr-sm-2" [(ngModel)]="rech" type="search" placeholder="Search" aria-label="Search" ><img (click)="recherche()" role="button" src="../../assets/search.svg" >
</div>
<div class="container"   >
  <h3>Courses</h3>
  <h3 *ngIf="currentCourses.length === 0">We couldn't find anything for {{rech}}</h3>
    <div class="row">
      <div class="col"  *ngFor="let item of currentCourses">
        <div class="card"  style="width: 18rem; margin-bottom: 20px "  >
            <img src="{{item.image}}" style="height: 150px; width: 287px; " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 100%;">{{item.nom}}</h5>
              <p class="card-text">{{item.descrption_text}}</p>
              <a  class="btn btn-primary"  (click)="getcourse(item._id)"  style="background-color: #ffc107">details</a>
            </div>
          </div>
      </div>
    </div>
</div>
<nav aria-label="Page navigation example" *ngIf="!rechOn">
  <ul class="pagination" style="margin-left: 550px;">
    <li class="page-item"><a class="page-link" *ngIf="page!=1" role="button" (click)="PreviousPage()">Previous</a></li>
    <li class="page-item"><a class="page-link"  >{{page}}</a></li>
    <li class="page-item"><a class="page-link" role="button" *ngIf="count > page*8 " (click)="nextPage()" >Next</a></li>
  </ul>
</nav>
    <!--<div class="row">
      <div role="button" class="card mb-3" style=" max-width: 540px; margin-right: 20px; margin-left: 80px;" *ngFor="let item of page_1" >
        <div class="row g-0" >
          <div class="col-md-4" style="width: 150px; height: 150px;" >
            <img src="{{item.image}}" style="width: 150px; height: 150px;" alt="...">
          </div>
          <div class="col-md-8" style="background-color: transparent;">
            <div class="card-body" >
              <h5 class="card-title">{{item.nom}}</h5>
              <p class="card-text">{{item.descrption_text}}</p>
              <p class="card-text"><small  class="text-muted">details</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
