<app-navbar ></app-navbar>
<img src="assets/1.jpg" alt="" />
<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="color: white;">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">The world's largest choice of courses
        Choose from 1000 online course videos. New courses are added every month <span>Pay Now </span>Or <span role="button" style="text-decoration: underline;color: blue;"(click)="later()" > Later</span></p>
    </div>
  
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">3 Month</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$50 </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimted Courses</li>
            <li>Quiz</li>
            <li>disscus with Others</li>
          </ul>
          <div  id="payments_2"></div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">6 Month</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$90</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimted Courses</li>
            <li>Quiz</li>
            <li>disscus with Others</li>
          </ul>
          <div  id="payments_1"></div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">1 Year</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$150</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimted Courses</li>
            <li>Quiz</li>
            <li>disscus with Others</li>
          </ul>
          <div  id="payments"></div>
        </div>
      </div>
      </div>
    </div>
</main>
