.back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20vh;
    z-index: -1;
    filter: brightness(0.7);
}
$svg: "";
// select the path
$path: "";
// for each radio
@for $i from 1 through 5 {
  // for each valid star
  @for $x from 1 through $i {
    // add checked input to selectors
    $svg: $svg + "#star-#{$i}:checked ~ ";
    $path: $path + "#star-#{$i}:checked ~ ";
    // add svg or path element sib to selectors
    // scope = section label svg [path]
    $svg: $svg + "section [for='star-#{$x}'] svg";
    $path: $path + "section [for='star-#{$x}'] svg path";
    // if not the last, we add a comma
    @if $x != $i {
      $svg: $svg + ", ";
      $path: $path + ", ";
    }
  }
  // if not the last, we add the comma
  @if $i != 5 {
    $svg: $svg + ", ";
    $path: $path + ", ";
  }
}

// style the active svg
#{$svg} {
  transform: scale(1);
}
// style the active path
#{$path} {
  fill: #FFBB00;
  stroke: darken(#FFBB00, 10%);
}  

section {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 110%; left: 55%;
  transform: translate3d(-50%, -50%, 0);
}

label {
  display: inline-block;
  width: 50px;
  text-align: center;
  cursor: pointer;
  svg {
    width: 100%;
    height: auto;
    fill: white;
    stroke: #CCC;
    transform: scale(0.8);
    transition: transform 200ms ease-in-out;
    path {
      transition: fill 200ms ease-in-out,
        stroke 100ms ease-in-out;
    }
  }
}

label[for="star-null"] {
  display: block;
  margin: 0 auto;
  color: #999;
}

body {
  text-align: center;
  background: #f0f0f0;
}

input {
  margin-top: 1rem;
}
body {
    font-family: 'Sahitya', serif;
  }
  
  .comments {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .comment {
    border-bottom: 1px solid #ccc;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    > img {
      width: 100px;
      margin-right: 2rem;
      clip-path: polygon(0% 5%, 100% 0%, 100% 85%, 65% 80%, 75% 100%, 40% 80%, 0% 75%);
      transition: clip-path 0.2s;
      &:hover {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%);
      }
    }
    .author {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #777;
    }
    p {
      margin: 0 0 1rem 0;
    }
  }