<ngx-spinner   bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-navbar ></app-navbar>
<div class="acceuil">
  <img src="../../assets/3.webp" alt="" />
  <div class="text">
    the best Plateform For
    <div class="title">Education</div>
  </div>
  <div class="middle">
    <div class="item">
      <svg class="icon icon-book">
        <use xlink:href="assets/icons.svg#icon-book"></use>
      </svg>
      <div class="item-text">Best INdustry leader</div>
      <div class="item-link">
        Read More
        <svg class="icon icon-arrow">
          <use xlink:href="assets/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <div class="item">
      <svg class="icon icon-book">
        <use xlink:href="assets/icons.svg#icon-laptop"></use>
      </svg>
      <div class="item-text">Learn Courses Online</div>
      <div class="item-link">
        Read More
        <svg class="icon icon-arrow">
          <use xlink:href="assets/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <div class="item">
      <svg class="icon icon-book">
        <use xlink:href="assets/icons.svg#icon-archive"></use>
      </svg>
      <div class="item-text">Book Library and store</div>
      <div class="item-link">
        Read More
        <svg class="icon icon-arrow">
          <use xlink:href="assets/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

