<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Speciality</th>
            <th scope="col"> 
                duration</th>
            <th scope="col">number of questions</th>
            <th scope="col">difficulty</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of quiz">
                <th scope="row">{{item.name}}</th>
                <td>{{item.Speciality}}</td>
                <td>{{item.time}} MIN</td>
                <td>{{item.questions.length}}</td>
                <td>{{item.difficulty}}</td>
                <td><img role="button" (click)="quizDetails(item._id)" src="../../../../assets/settings.svg"></td>
                <td><img role="button" (click)="deleteQuiz(item._id)"  src="../../../../assets/delete.svg"></td>
              </tr>
            </tbody>
          </table>
</main>


