<img src="assets/1.jpg" alt="" />
<div class="testbox">
    <h1>Registration</h1>
    <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="pay">
        <hr>
        <div class="accounttype">
            <input type="radio" value="50.00" id="radioOne" name="account"  checked (input)="ChangeaccountChoice($event)" />
            <label for="radioOne" class="radio"  chec>3 Month(30USD)</label>
            <input type="radio" value="100.00" id="radioTwo" name="account"   (input)="ChangeaccountChoice($event)" />
            <label for="radioTwo" class="radio">1 Year(100USD)</label>
          </div>
          <hr>
          <div style="display: grid;"> 
          <input type="text" name="Email"  ngModel  #Email="ngModel" placeholder="Email" email required/>
          <small *ngIf="!emailValid" style="color: red;">Invalid email</small>
          <input type="text" name="name"  #name="ngModel" ngModel placeholder="Name" />
          <small *ngIf="!nameValid" style="color: red;">Invalid Name</small>
          <input type="password" name="password" #password="ngModel"  ngModel placeholder="Password" />
          <small *ngIf="!passwordvalid" style="color: red;">Invalid Password</small>
        </div>
        <hr>
        <div class="gender">
            <input type="radio" value="Male" id="male" name="gender"   (input)="ChangeGender($event)"  checked/>
            <label for="male" class="radio" chec>Male</label>
            <input type="radio" value="Female" id="female" name="gender" (input)="ChangeGender($event)" />
            <label for="female" class="radio">Female</label>
        </div>
        <button type="submit"   class="button">Register</button>
    </form>
    <div  id="payments"></div>
</div>